table {
  width: 100%;
  border-collapse: collapse;
}
table,
th,
td {
  border: 1px solid black;
}
th,
td {
  padding: 10px;
  text-align: left;
}
img {
  width: 50px;
  height: auto;
}
#controls {
  margin-bottom: 20px;
}
