/* Styl dla całej aplikacji */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}

h1 {
  text-align: center;
  color: #333;
}

/* Nagłówek strony głównej */
nav {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* Styl dla formularza dodawania artykułu */
form {
  background-color: white;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

form div {
  margin-bottom: 15px;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

form button:hover {
  background-color: #45a049;
}

/* Styl dla listy artykułów */

h2 {
  margin: 20px;
  text-align: center;
}

ul {
  margin: 20px;
  text-align: left;
  list-style-type: none;
  padding: 0;
}

ul li {
  background-color: white;
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

ul li a {
  color: #333;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

ul li a:hover {
  text-decoration: underline;
}

/* Styl dla artykułu */
article {
  background-color: white;
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

article h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

article p {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
}
